.clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #cbe4ff;;
    color: rgb(52, 74, 115);
    flex: 1;
    outline: 1px solid rgb(52, 74, 115);
}