.input {
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4em;
    background-color: #0c3e7b;
    color: white;
    padding: 0.5em;
    outline: 1px solid rgb(52, 74, 115);
}